
body{
  margin:0px;
}
.design{
    background-color: black;
    color: white ;
}
#logo{
  width: 100%; 
  border-radius: 50%;
}
.dezign{
  margin-top: 10px;
  font-size: 30px;
}

.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .all{
    float: right;
    margin-right: 20px;
  }
  /* END OF NAVIGATION BAR */
  /* MY SECTION BAR STARTS HERE */
  
  .about{
    background-image: url(/images/images3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  #about{
    color: rgba(255, 255, 0, 0.822);
  }

.done{
    background-color: rgba(0, 0, 0, 0.788);
  }
#hello{
  color: white;
}
#name{
  color: white;
}
#passion{
  color: rgba(255, 255, 0, 0.822);
}
#moral{
  color: white;
}
.give{
  color: white;
}
#dream{
  color: rgba(255, 255, 0, 0.822) ;
}
#work{
  color:rgba(255, 255, 0, 0.822) ;
}
#chat{
  background-color: burlywood;
  padding: 10px;
  margin-bottom: 70px;
}
#chat:hover{
 color:burlywood;
 background-color: black;
}
.photo{
  width: 400px;
}
.cookies{
  text-align: center;
}
#cookies{
  width: 100%;
  border-radius: 50px;
}
.socialicon{
  margin-top: 20px;
}

#socialicon{
  text-align: center;
  color:yellow;
  margin-right: 15px;
}
#socialicon:hover{
  color: white;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .mid{
    text-align: center;
  }
  #logo{
    width: 100px;
  }
  .mid3{
    position: relative;
    right: 140px;
  }
}
